<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>rust-axum-sqlx-htmx-boilerplate</title>
    <meta name="description" content="rust-axum-sqlx-htmx-boilerplate">
    <meta name="author" content="Scott J Maddox">

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5/dist/ext/loading-states.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body hx-ext="loading-states">
    <section class="section">
        <h1 class="title">Tasks</h1>
        <ul id="task-list" class="container" hx-trigger="load" hx-get="/tasks">Loading tasks...</ul>
        <form hx-post="/tasks" hx-target="#task-list" hx-swap="none" hx-on::after-request="this.reset()">
            <input class="input" type="text" name="title" placeholder="Task Title" required>
            <textarea class="textarea" name="description" placeholder="Description"></textarea>
            <button class="button is-primary" data-loading-class="is-loading" type="submit">Add Task</button>
        </form>
    </section>
</body>

</html>
